<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{% if page.description == null %}{{ site.description }}{% else %}{{ page.description }}{% endif %}" />
    <meta name="keywords" content="{{ site.author.username }},{% if page.tags != null %}{{ page.tags | join: ',' }}{% else %}{{ site.translations.keywords }}{% endif %}" />
    {% if page.url == "/404.html" %}<meta http-equiv="refresh" content="5; url=/blog">{% endif %}

    <title>{% if page.url != "/index.html" %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link href='/assets/css/blog-style.css' rel="stylesheet" type="text/css">
    <link href="/rss.xml" rel="alternate" title="{{ site.title }}" type="application/rss+xml">

    <!--[if IE]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.0.6.min.js"><\/script>')</script>
    <![endif]-->
    <!--[if !IE]> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.6.2.min.js"><\/script>')</script>
    <!-- <![endif]-->
    {% include JB/analytics %}
</head>

<body>
    <!--[if IE]>
        <p class="site-notice">{{ site.translations.old_ie_notice }}</p>
    <![endif]-->
    <noscript>
        <p class="site-notice">{{ site.translations.js_notice }}</p>
    </noscript>

    <div class="nav-wrapper">
        <div class="nav-form">
            <span class="overlay-header menu">{{ site.translations.menu }}</span>
            <a class="btn-close">{{ site.translations.close }}</a>
            <div class="results">
                <a href="/archives">{{ site.translations.archives }}</a>
                <a href="/categories/#articles">{{ site.translations.articles }}</a>
                <a href="/categories/#notes">{{ site.translations.notes }}</a>
                <a href="/categories">{{ site.translations.categories }}</a>
                <a href="/tags">{{ site.translations.tags }}</a>
                <a href="/">{{ site.translations.about }}</a>
            </div>
        </div>
    </div>

    <div class="search-wrapper">
        <div class="search-form">
            <input type="text" class="overlay-header search-field" placeholder="{{ site.translations.search_placeholder }}">
            <a class="btn-close">{{ site.translations.close }}</a>
            <ul class="results"></ul>
        </div>
    </div>

    <div id="page" class="hentry">
        <header class="the-header">
            <div class="unit-head">
                <div class="unit-inner unit-head-inner">
                    <nav class="nav-global">
                        <ul>
                            <li class="logo nav-link">
                                <button class="btn-menu" data-ga="Menu"></button>
                                <a href="/blog">{{ site.title }}</a>
                                <!--[if !IE]> --><button class="btn-search" data-ga="Search"></button><!-- <![endif]-->
                            </li>
                            <li class="nav-link"><a data-ga="Archives" href="/archives">{{ site.translations.archives }}</a></li>
                            <li class="nav-link"><a data-ga="Articles" href="/categories#articles">{{ site.translations.articles }}</a></li>
                            <li class="nav-link"><a data-ga="Notes" href="/categories#notes">{{ site.translations.notes }}</a></li>
                            <li class="nav-link"><a data-ga="Categories" href="/categories">{{ site.translations.categories }}</a></li>
                            <li class="nav-link"><a data-ga="Tags" href="/tags">{{ site.translations.tags }}</a></li>
                            <!--[if !IE]> --><li class="nav-link"><a data-ga="Search" class="btn-search" href="#">{{ site.translations.search }}</a></li><!-- <![endif]-->
                        </ul>
                    </nav>
                </div><!-- unit-inner -->
            </div><!-- unit-head -->
        </header>

        <div class="body animated fadeInDown" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div><!-- unit-inner -->
            </div><!-- unit-body -->
        </div><!-- body -->

        <footer class="the-footer">
            <div class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <div class="misc vcard">
                        <div class="about">
                            <h4><a href="/">{{ site.translations.about }}</a></h4>
                            {% if site.translations.show_details == true %}
                                <p>
                                    <span class="fn p-name">{{ site.author.name }}</span>,
                                    <span class="p-job-title">{{ site.translations.job_title }}</span>
                                    <span>{{ site.translations.based_in }}</span>
                                    <span class="adr h-adr p-adr">
                                        <abbr class="locality p-locality">{{ site.translations.city }}</abbr>, 
                                        <abbr class="country-name p-country-name">{{ site.translations.country }}</abbr>.
                                    </span>
                                </p>
                                <p><a href="{{ site.translations.license_link }}" target="_blank">{{ site.translations.license }}</a> &amp; <a href="{{ site.translations.acknowledgements_link }}" target="_blank">{{ site.translations.acknowledgements }}</a></p>
                            {% endif %}
                            {% if site.translations.extra_info != "" %}<p>{{ site.translations.extra_info }}</p>{% endif %}
                        </div>
                        <div class="social-links">
                            <a class="ico-linkedin" href="http://linkedin.com/in/{{ site.author.username }}nz/" rel="me" target="_blank" title="LinkedIn Profile"></a>
                            <a class="ico-github" href="http://github.com/{{ site.author.username }}/" rel="me" target="_blank" title="GitHub Page"></a>
                            <a class="ico-gmail" href="http://scr.im/{{ site.author.username }}me/" rel="me" target="_blank" title="Email Address"></a>
                            <a class="ico-stackoverflow" href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}" rel="me" target="_blank" title="StackOverflow Profile"></a>
                            <a class="ico-rss" href="/rss.xml" rel="me" target="_blank" title="RSS Feeds"></a>
                        </div>
                    </div><!-- misc -->
                </div><!-- unit-foot-inner -->
            </div><!-- unit-foot -->
            <a href="#" class="internal back-to-top">{{ site.translations.back_to_top }}</a>
        </footer>
    </div><!-- page -->
    {% include themes/the-program/scripts.html %}
</body>
</html>
