<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="entry-title">{{ page.header }}</h1>
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd">
                <div class="entry-content">
                    {{ content }}
                </div><!-- entry-content -->
            </div><!-- bd -->

            <footer class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <p class="gotop">
                        <a class="internal" href="#page">{{ site.translations.back_to_top }}</a>
                    </p>
                </div>
            </footer>
        </div><!-- content -->
    </div><!-- unit-inner -->
</article>
