/* Navigation dots */
@media only screen and (max-width: 540px) {
	#fullPage-nav {
		display: none
	}
}

/* Continue button */
@media only screen and (max-height: 320px) {
	.btn-continue {
		background-image: url("/assets/images/btn-more-small.png");
		margin-left: -25px;
		height: 16px;
		width: 16px;
	}
}

/* Heading fonts */
@media only screen and (max-width: 1200px) {
	h1 {
		font-size: 3em
	}
	h2 {
		font-size: 1.525em
	}
	h3 {
		font-size: 1.175em
	}
}

@media only screen and (max-width: 480px), screen and (max-height: 480px) {
	h1 {
		font-size: 2em
	}
	h2 {
		font-size: 1.375em
	}
	h3 {
		font-size: 1.05em
	}
}

/* Social icon sizes */
@media screen and (max-width: 720px), screen and (max-height: 480px) {
	$icon-size: 48px;

	.social-links {
		a {
			background-size: $icon-size $icon-size;
			margin: 6px;
			height: $icon-size;
			width: $icon-size;
		}
	}
}

@media screen and (max-width: 320px) {
	$icon-size: 36px;

	.social-links {
		a {
			background-size: $icon-size $icon-size;
			margin: 2px;
			height: $icon-size;
			width: $icon-size;
		}
	}
}
