@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/typography";

@import "./support/normalize";
@import "./support/helper";
@import "./support/animate";

$fonts-heading: 'Ubuntu Condensed', 'DejaVu Sans Mono', sans-serif;
$fonts-body: 'Bitter', Georgia, serif;
$fonts-code: monospace, 'DejaVu Sans Mono', Arial, sans-serif;

$color-text: #2D2D2D;
$color-hover: #FF9900;
$color-hover-transparent: rgba(255, 153, 0, 0.7);
$color-meta-link-hover: #797979;

$color-box-border: #ADADAD;
$color-code-background: #272822;
$color-inline-code-background: #EAEAEA;
$color-linenos-background: #4B4B4B;

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background-color: #EBEBEB;
	border-left: 1px solid #BFBFBF;
}
::-webkit-scrollbar-thumb {
	background-color: #BFBFBF;
}
::-webkit-scrollbar-thumb:hover {
	background-color: $color-meta-link-hover;
}

body {
	font-family: $fonts-body;
	font-size: 1em;
	line-height: 1.75em;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
	font-family: $fonts-heading
}

h1,
.h1 {
	font-size: 2.25em;
	line-height: 52px;
	margin-top: 52px;
	margin-bottom: 26px;
}
h2,
.h2 {
	font-size: 1.875em;
	line-height: 26px;
	margin-top:34px;
	margin-bottom: 16px;
}
h3,
.h3 {
	font-size: 1.425em;
	line-height: 26px;
	margin-top: 26px;
	margin-bottom: 20px;
}
h4,
.h4 {
	line-height: 26px;
	margin-top: 26px;
	margin-bottom: 12px;
}
p,
ul,
ol,
dl,
img {
	margin-top: 0
}
small,
.small,
aside {
	font-size: 0.75em
}
.font-size-default {
	font-size: 1em
}
blockquote cite {
	font-weight: normal
}
strong {
	font-weight: bold
}
em {
	font-weight: bold
}
.list-linear {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	word-spacing: -0.43em;
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		*display: inline;
		zoom: 1;
		line-height: normal;
		letter-spacing: normal;
		margin-right: 16px;
		word-spacing: normal;
		vertical-align: middle;
	}

	li:last-child {
		margin-right: 0
	}
}

html {
	background: url('/assets/images/skin/noisy_texture_section0-200x200.png') repeat 0 0 #F9F9F9
}
.body .unit-body {
	@include box-shadow($color-box-border 0 0 9px);
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	padding: 13px 26px 26px 36px;
	background: #FFF;
}
/* LINK */
a:link,
a:visited,
a:hover {
	text-decoration: none
}
/* HIGHLIGHTER */
pre,
code,
kbd,
samp {
	font-family: $fonts-code;
	font-size: .9em;
}
pre {
	@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6));
	color: #f2f2f2;
	background-color: $color-code-background;
	line-height: 18px !important;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1.625em;
	padding: 1.625em !important;
	overflow: auto;

	code {
		white-space: pre
	}
}

.linenos pre {
	background-color: $color-linenos-background;
	padding-left: 0.625em !important;
	padding-right: 0.625em !important;
	overflow: visible;
}
.line-numbers,
.highlighttable .highlight {
	font-size: .8em
}

pre::-webkit-scrollbar,
.gist-data::-webkit-scrollbar,
.highlight::-webkit-scrollbar {
	@include border-radius(5px);
	height:8px;
	background-color:#363830;
}

pre::-webkit-scrollbar-track,
.gist-data::-webkit-scrollbar-track,
.highlight::-webkit-scrollbar-track {
	@include border-radius(5px);
	background-color: $color-code-background;
}

pre::-webkit-scrollbar-thumb:horizontal,
.gist-data::-webkit-scrollbar-thumb:horizontal,
.highlight::-webkit-scrollbar-thumb:horizontal {
	@include border-radius(5px);
	background-color:#6D705F;
}

@import "./blog/header";
@import "./blog/unit-article";
@import "./blog/data-table";
@import "./blog/footer";
@import "./blog/overlay";
@import "./blog/responsive";

@import "./support/fonts";
@import "./support/social-links";
@import "./support/gist";
@import "./support/pace";