@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/typography";

@import "./support/normalize";
@import "./support/helper";
@import "./support/social-links";
@import "./support/fonts";
@import "./support/animate";

@import "./home/fullPage";

$color-text-dark: #2D2D2D;
$color-text-light: #fff;
$color-link: rgba(255, 153, 0, 0.8);
$color-link-hover: #FF9900;
$color-background-dark: rgba(0, 0, 0, 0.5);
$color-background-light: rgba(255, 255, 255, 0.1);
$icon-size: 64px;

body {
	color: $color-text-dark;
	font-family: "Junge Regular", "Times New Roman", Georgia, serif;
	font-size: 1em;
}

h1 {
	font-size: 5em;
	margin: 0.45em 0;
	text-transform: uppercase;
}
h2 {
	font-size: 2.225em;
	margin-bottom: 24px;
}
h3 {
	font-size: 1.725em
}

h1,
h2,
h3 {
	span {
		padding: 6px 2px
	}
}

.site-notice {
	background: $color-background-dark;
	text-align: center;
	top: 0;
	width: 100%;

	a {
		@include link-colors($color-link, $hover:$color-link-hover)
	}
}

#menu {
	display: none
}

.section {
	text-align:center;

	span {
		padding: 0 10px 0 10px;
	}
}

#section0 {
	background: url('/assets/images/skin/noisy_texture_section0-200x200.png') repeat 0 0 #F0F0F0
}
#section1 {
	background: url('/assets/images/skin/noisy_texture_section1-200x200.png') repeat 0 0 #150E1F
}

#fullPage-nav span {
	border: 1px solid #8A8A8A
}
#fullPage-nav li .active span {
	background: #707070
}

.btn-light,
.btn-dark {
	@include transition(all .3s ease-in-out);
	color: $color-text-light;
	border: 1px solid #150E1F;
	outline: none;
	text-decoration: none;

	&:hover {
		border: 1px solid $color-text-light;
	}
}

.btn-dark {
	background-color: $color-background-dark !important
}
.btn-dark:hover, .btn-dark:focus {
	background-color: $color-background-light !important
}

.btn-light {
	background-color: $color-background-light !important
}
.btn-light:hover, .btn-light:focus {
	background-color: $color-background-dark !important
}

.btn-enter {
	padding: 4px 6px 0px 4px
}

.btn-continue {
	@include transition(all .3s ease-in-out);
	background-image: url("/assets/images/btn-more.png");
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	outline: none;
	padding: 12px;
	position: absolute;
	text-indent: -9999em;
	height: 32px;
	width: 32px;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */

	&:hover {
		-webkit-animation-name: bounce;
		animation-name: bounce;
	}
}

.social-links {
	-webkit-animation-delay: .25s;
	animation-delay: .25s;

	a {
		background-size: $icon-size $icon-size;
		margin: 18px;
		height: $icon-size;
		width: $icon-size;
	}
}

@import "./home/responsive";