.gist .gist-file {
  border: none !important;
  font-family: $fonts-code !important;

  .gist-data {
    font-size: .9em !important;
    background-color: $color-code-background !important;

    table {
      background-color: $color-code-background !important;
    }

    .blob-code-inner, .blob-num {
      color: #FFFFFF;
    }

    .blob-num {
      &:hover {
        color: #ECAC29 !important;
      }
    }

    .pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra {
      color: #ECAC29 !important;
    }
  }

  .gist-meta {
    display: none !important;
    visibility: hidden;
  }
}
