.data-table {
	overflow: auto;

	table {
		background-color: #FFF;
		border-collapse: separate;
		border: 5px solid $color-inline-code-background;

		&:hover {
			@include transition(all .3s ease-in-out);
			border-color: $color-hover;
		}

		td, th {
			border: 1px solid rgba(175, 175, 175, 0.5);
			padding: 3px;
		}

		tr:nth-child(even) td {
			background-color: $color-inline-code-background
		}

		a {
			border-bottom: none;
			font-size: 1em;
		}

		th,
		.center {
			text-align: center
		}

		.bold {
			font-weight: bold
		}
	}
}

.data-table::-webkit-scrollbar-track {
	background-color: transparent;
	border-left: none;
}