.the-footer {
	color: $color-text;
	padding: 26px;

	ul {
		list-style: disc;
		padding-left: 1em;
	}
	address {
		font-style: normal
	}

	a {
		color: $color-text;
		border: 0;

		&:hover {
			@include transition(all .3s ease-in-out);
			color: $color-hover;
		}
	}

	p {
		a {
			@include link-colors(#0077CC, $visited:#4A6B82, $hover:$color-text);
			font-size: .95em;
			padding: 2px 3px;
			border-bottom: 1px dotted #FFD18D;

			&:hover {
				background-color: $color-hover-transparent
			}
		}
	}

	h4 {
		font-family: $fonts-heading;
		margin-top: 0;

		a:hover {
			font-weight: bold
		}
	}

	.back-to-top {
		background-color: transparent;
		bottom: .5em;
		display: none;
		font-size: .9em;
		padding: 1.2em;
		padding-bottom: .2em;
		position: fixed;
		right: .25em;
		text-decoration: none;
	}
}