.the-header .unit-head {
	padding: 26px;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline;
		
		a {
			color: $color-text
		}
	}

	.nav-global .logo {
		display: block;
		font-family: $fonts-heading;
		font-weight: bold;
		margin: 0;
		width: auto;

		a {
			display: block;
			font-size: 1.875em;
			line-height: 52px;
			padding-bottom: 26px;

			&:hover {
				background-color: transparent;
				color: $color-hover;
			}
		}

		button {
			border: none;
			display: none;
			height: 24px;
			width: 24px;
		}

		.btn-menu {
			background: url('/assets/images/btn-menu.png') no-repeat;
			float: left;
		}

		.btn-search {
			background: url('/assets/images/btn-search.png') no-repeat;
			float: right;
		}
	}

	.nav-global li {
		font-size: 1em;

		a:hover,
		a:active {
			@include transition(all .3s ease-in-out);
			background-color: $color-hover;
			color: $color-text;
			cursor: pointer;
		}
	}
}
