.nav-form,
.search-form {
	left: -200px;
	opacity: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 9002;

	.overlay-header {
		background-color:transparent;
		border: none;
		border-bottom: 1px solid #fff;
		color: #fff;
		font-size: 2em;
	}

	.search-field {
		@include appearance(none);
		@include background-clip(padding-box);
		@include box-shadow(none);
		width: 100%;
	}

	.menu {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 12px;
		text-align: center;
	}

	.btn-close {
		border: none;
		color: #fff;
		cursor: pointer;
		display: block;
		height: auto;
		width: auto;
		position: absolute;
		top: .6rem;
		right: 1rem;
		text-align: center;
		z-index: 1;

		&:hover {
			@include transition(all .3s ease-in-out);
			font-weight: bold;
		}
	}

	h4, li, p, a {
		color: #fff
	}

	.results {
		padding: 0;
		margin: 0;
		position: absolute;
		width: 100%;

		li {
			font-size: 1em;
			line-height: 1.825em;
			margin-left: 12px;
			padding: 3px;

			&:hover {
				@include transition(all .3s ease-in-out);
				border: 1px dashed #fff;
			}
		}
	}
}

.nav-form .results {
	margin-top: 26px;

	a {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 12px;
		text-align: center;
		width: 100%;
		outline: 0;
		text-align: center;
		text-decoration: none;
		text-shadow: none;
		vertical-align: inherit;
		white-space: nowrap;

		&:hover {
			@include transition(all .3s ease-in-out);
			border: 1px dashed #fff;
		}
	}
}

.search-form .results .entry-date {
	display: none;
	float: right;
}

.nav-form.active,
.search-form.active {
	top: 0;
	left: 0;
	opacity: 1;
}

body.nav-overlay,
body.search-overlay {
	overflow: hidden;

	&:after {
		background-color: rgba(25, 25, 25, 0.95);
		content: '';
		height: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9001;
	}
}

.nav-wrapper,
.search-wrapper {
	display: none;
	top: 50px;
	width: 90%;
	position: absolute;
	padding-left: 5%;
	padding-right: 5%;
	zoom: 1;
}
