/* Data table and social links on small screens */
@media only screen and (max-width: 360px) {
	.data-table {
		font-size: .75em
	}
	.the-footer .social-links a {
		margin: 0
	}
}
/*
	Old mobile phone width: [0, 640]
*/
@media only screen and (max-width: 640px) {
	h1,
	h2,
	.h1,
	.h2 {
		font-size: 1.325em !important;
		line-height: 32px !important;
	}
	h3,
	.h3 {
		font-size: 1.175em !important
	}

	.the-header .unit-head {
		padding: 16px !important;

		.nav-global .logo {
			padding-bottom: 0 !important;

			a {
				margin-left: 14px !important;
				padding-top: 6px !important;
				padding-bottom: 6px;
			}

			.btn-menu,
			.btn-search {
				display: inline
			}
		}

		.nav-global li {
			display: none;

			.btn-search {
				display: none
			}
		}
	}

	.the-footer .social-links a {
		height: 36px !important;
		width: 36px !important;
	}

	.data-table {
		font-size: .9em
	}
}

/*
	Smartphone width: [0, 959]
*/
@media only screen and (max-width: 960px) {
	.unit-article header h1,
	.unit-article .year {
		text-align: center
	}

	.date {
		display: none
	}
}
/*
	Tablet width: [960, infinity)
*/
@media only screen and (min-width: 960px) {
	.unit-body {
		margin-left: 12%;
		margin-right: 12%;
	}

	.the-footer h4 a {
		font-size: 1.25em
	}

	.search-form .results .entry-date {
		display: block;
		float: right;
	}
}

/*
	Now becomes universal styles
*/
img {
	max-width: 95%
}
h1,
h2,
.h1,
.h2 {
	font-size: 1.575em;
	line-height: 42px;
}
h3,
.h3 {
	font-size: 1.325em
}

.the-header,
.the-footer {
	text-align: center
}

.unit-article {
	.year {
		margin-top: 24px
	}

	.posts li,
	.posts {
		margin-top: 8px;
		margin-bottom: 8px;

		a {
			line-height: 1.525em;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.the-header .unit-head {
	padding-bottom: 12px;

	.nav-global .logo {
		padding-bottom: 18px;

		a {
			display: inline;
			font-size: 1.375em;
			line-height: 0;
			margin-left: 8px !important;
			padding-top: 0px;
		}
	}

	.nav-global li a {
		padding: 16px 12px
	}
}
