@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography/links/link-colors";

.gist .gist-file {

	border: none !important;
	font-family: $fonts-code !important;

	.gist-data {
		font-size: .9em !important;
		background-color: $color-code-background !important;

		table {
			background-color: $color-code-background !important
		}

		.line-numbers {
			background-color: $color-linenos-background !important;
			border-right: none !important;
			line-height: 18px;
		}

		.line-pre {
			@include box-shadow(none);
			font-family: $fonts-code !important;
		}
	}

	.gist-meta {
		display: none !important;
		visibility: hidden;
	}
}